
/* COLORS */
:root {
    --color-primary: #aa6ef7;
    --color-secondary: #fcbf4c;
    --color-dark: #14141f;
    --color-dark-2: #121117;
    --color-grey-1: #a2a2a2;
    --color-purple: #822cf3;
    --color-white: #fff;
    --color-black: #000;
  }
  
  /* GRADIENT COLORS */
  :root {
    --gradient-1: linear-gradient(99.36deg, #fcbf4c -3.97%, #822cf3 112.84%);
  }
  
  /* BOX SHADOWS */
  :root {
    --box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --soft-shadow-1: 6px 6px 12px #16191c, -6px -6px 12px #20252a;
    --soft-shadow-2: inset 5px 5px 5px #171a1d, inset -5px -5px 5px #1f2429;
  }
  
  /* Borders */
  :root {
    --grey-border: 0.5px solid rgba(255, 255, 255, 0.2);
  }
  

  /* HERO SECTION */
.hero-wrapper {
    padding: 110px 0px;
    padding-bottom: 0px;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .hero-wrapper {
        padding: 60px 0px;
    }
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    width: 315px;
    height: 315px;
    background-image:var(--gradient-1);
    opacity: 0.5;
    -webkit-filter: blur(200px);
    -moz-filter: blur(200px);
    filter: blur(200px);
    border-radius: 7px;
}

.hero-heading {
    font-size: 72px;
    font-weight: 800;
    line-height: 82px;
    color:#fff;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .hero-heading {
        font-size: 45px;
        line-height: 55px;
    }
}

@media (max-width: 575px) {
    .hero-heading {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.5px;
    }
}

.hero-heading .hero-gradient {
    background:var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-grey-1);
}

@media (max-width: 575px) {
    .body-text {
        font-size: 16px;
    }
}

.hero-buttons {
    margin-top: 40px;
}

@media (max-width: 767px) {
    .hero-buttons {
        margin-top: 30px;
    }
}

.hero-buttons .button-primary {
    margin-right: 10px;
}

@media (max-width: 393px) {
    .hero-buttons .button-primary {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
        text-align: center;
        justify-content: center;
    }
}

.hero-buttons .button-secondary {
}

@media (max-width: 393px) {
    .hero-buttons .button-secondary {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}

.hero-buttons .icon {
    margin-right: 5px;
}

.hero-counters {
    display: flex;
    margin-top: 10px;
}

@media (max-width: 385px) {
    .hero-counters {
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
    }
}

.hero-counters .counter-item:not(:last-child) {
    margin-right: 50px;
}

@media (max-width: 575px) {
    .hero-counters .counter-item:not(:last-child) {
        margin-right: 20px;
    }
}

.hero-counters .counter-item h3 {
    font-size: 25px;
    font-weight: 600;
    color: var(--color-white);
}

@media (max-width: 575px) {
    .hero-counters .counter-item h3 {
        font-size: 20px;
    }
}

.hero-counters .counter-item h3 .plus {
    margin-left: -5px;
}

.hero-counters .counter-item p {
    font-size: 14px;
}

/* HERO SLIDER */
.hero-slider-wrapper .items-card-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.hero-slider-wrapper .items-card-wrapper::before {
    content: "";
    width: 103%;
    height: 102%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 10px;
    backface-visibility: hidden;
}

.hero-slider-wrapper .items-card-wrapper .featured-pin {
    background-color: var(--color-dark);
    width: max-content;
    padding: 5px 60px;
    position: absolute;
    top: 18px;
    right: -65px;
    transform: rotate(45deg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hero-slider-wrapper .items-card-wrapper .featured-pin h5 {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    background:var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Single Slider */
.single-slider {
    height: 410px;
    position: relative;
    z-index: 1;
}

/* Singler Arrow */
.hero-slider-wrapper .slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
}

.hero-slider-wrapper .slick-arrow i {
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    border: 1px solid transparent;
    text-align: center;
    display: block;
    line-height: 48px;
    font-size: 16px;
    z-index: 9;
}

.hero-slider-wrapper .slick-arrow i:hover {
    background-color: var(--color-purple);
}

.hero-slider-wrapper .slick-arrow.next {
    left: auto;
    right: 50px;
}

.hero-slider-wrapper .slick-arrow.prev {
    left: 50px;
}

/* Slider-Area Dots */
.hero-slider-wrapper .slick-dots {
    z-index: 9;
    position: absolute;
    transform: translateX(-50%);
    display: flex !important;
    flex-direction: column;
    gap: 15px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 575px) {
    .hero-slider-wrapper .slick-dots {
        flex-direction: row;
        top: 102%;
        right: 40%;
    }
}

.hero-slider-wrapper .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.hero-slider-wrapper .slick-dots li button {
    display: none;
}

.hero-slider-wrapper .slick-dots li.slick-active {
    background: var(--color-purple);
}

/* PAGE BANNER */
.page-banner-wrapper {
    background-color: var(--color-dark)-2;
    padding: 100px 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/220072/pexels-photo-220072.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 767px) {
    .page-banner-wrapper {
        padding: 60px 0px;
    }
}

.page-banner-wrapper .banner-heading {
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 575px) {
    .page-banner-wrapper .banner-heading {
        font-size: 30px;
    }
}

.page-banner-wrapper .banner-heading span {
    background:var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-banner-wrapper .banner-breadcrumb {
    display: flex;
    margin-top: 10px;
}

@media (max-width: 575px) {
    .page-banner-wrapper .banner-breadcrumb {
        margin-top: 5px;
    }
}

.page-banner-wrapper .banner-breadcrumb li {
    color: var(--color-grey-1);
}

.page-banner-wrapper .banner-breadcrumb li:not(:last-child) {
    margin-right: 10px;
}

.page-banner-wrapper .banner-breadcrumb li a {
    font-size: 18px;
    color: var(--color-grey-1);
}

@media (max-width: 575px) {
    .page-banner-wrapper .banner-breadcrumb li a {
        font-size: 16px;
    }
}

.page-banner-wrapper .banner-breadcrumb li .current-page {
    color: var(--color-white);
}
